{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<h1 align="center"> <img src="{{ url_for('static', filename='img/lib.png') }}"  width="600"/>  <a class="btn btn-primary " href="/add_book">+ Добавить книгу</a> </h1>
<br>


<div class="grid">
        {% for book in books %}
        <div class="card">

            <h1>📘</h1>
            <p align="center">{{ book.title }}</p>
            <p align="center" ><a href="/watch_book/{{book.id}}">Просмотреть</a></p>
            {% if current_user.username == "admin" %}
             <p align="center" ><a href="/delete_book/{{book.id}}">Удалить</a></p>
            {% endif %}
        </div>
        {% endfor %}
      </div>







{% else %}
<div>
            <h1 align = "center"> Здравствуй, дорогой гость!  </h1>
            <h5 align = "center"> Войдите или зарегистрируйтесь чтобы воспользоваться нашим сервисом </h5>
   <div align="center" > <img src="{{ url_for('static', filename='img/robot.png') }}" width="500"/> </div>
</div>
{% endif %}

{% endblock %}